@import "variables";

// Default overrides
$wrapper: '#body-tag';
$color-text: #eee;

* {
}

#{$wrapper} {
  margin: 0;
  font-size: 12px !important;
  font-family: $font-family !important;

  div.index-top-bar-links {
    position: relative;
    color: $color-text;
  }
  #login-page {
    height: auto;
    position: relative;
  }

  img[src='images/logo/banner.jpg'] {
    display: none;
  }
}