$font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

$color-dark: #191e27;
$color-darker: darken($color-dark,5%);
$color-light: #8f9eb9;
$color-lighter: lighten($color-light, 10%);


@mixin box-sizing($var) {
  -webkit-box-sizing: $var;
  -moz-box-sizing: $var;
  box-sizing: $var;
}
@mixin transition($var) {
  -webkit-transition: $var;
  -o-transition: $var;
  transition: $var;
}
@mixin grayscale($var) {
  -webkit-filter: grayscale($var);
  filter: grayscale($var);
}
 
body {
  margin: 0;
  font-size: 14px;
  font-family: $font-family;
}
/* ----- login top bar ------ */
#login-area .index-top-bar-links {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid lighten($color-dark, 20%);
  position: relative;
  background: $color-dark;
  @include box-sizing(border-box);
}
.login-link {
  font-size: 1rem;
  color: $color-light;
  display: inline-block;
  text-transform: uppercase;
  padding: 7px;
  &:hover {
    color: #eee;
  }
  img {
    display: none;
  }
}

/* ----- login box ------ */
.index-box {
  padding: 2rem 2rem 8rem;
  max-width: 900px;
  width: 85%;
  height: auto;
  border: none;
  margin: 1rem auto !important;
  position: relative;
  background: $color-dark;
  @include box-sizing(border-box);
  & > img {
    display: none;
  }
  &::before {
    display: block;
    font-size: 2rem;
    margin-top: 1rem;
    color: $color-lighter;
    content: 'Diamond Hunt 2';
  }
}
span.game-button {
  color: $color-light;
  font-weight: bold;
  border: 1px solid rgba($color-light,0.5);
  background-color: rgba($color-light,0.25);
  display: inline-block;
  font-size: 1rem;
  width: 200px;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  line-height: 1.5;
  cursor: pointer;
  &:hover {
    color: $color-lighter;
    background-color: rgba($color-light,0.15);
  }
}

/* ----- login panel ----- */
#login-panels {
  padding: 1rem;
  @include box-sizing(border-box);
}

.login-box {
	border: 1px solid lighten($color-dark, 20%);
	display:inline-block;
	padding: 10px;
	margin-left: 0;
	color: $color-lighter; 
  background-color: $color-darker;
  & > h1 {
    color: lighten($color-light,20%);
    margin: 0;
  }
}









.img-icon-small
{
	width:20px;
	height:20px;
	vertical-align:middle;
	border:none;
}


span.event-button
{
	font-size:20pt;
	display:inline-block;
	width:200px;
	height:50px;
	background-color:#FFDADA;
	border-color:black;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	margin:10px 50px;
	cursor:pointer;
	border-style:double;
}

span.event-button:hover
{
	color:red;
}



div.login-message-area
{
	border:1px solid orange;
	background-color:#ffe6cc;
	padding:10px 20px;
	color:black;
	font-size:10pt;
	text-align:center;
}




h1.title
{
	text-align:center;
	font-size:40pt;
	color:white;
}