html {
  font-size: 16px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-wrap: wrap;
}

#mw-page-base,
#mw-head-base {
  display: none;
}

/* --- navigation --- */
#mw-navigation {
  order: -2;
  width: 100%;
  position: relative;
}

/* top bar */
#mw-head {
  left: 20%;
  width: 80%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: #f6f6f6;
}
#p-personal {
  order: 2;
}
#p-personal ul {
  padding: 0;
}
#left-navigation {
  margin: 0;
}
.vectorTabs,
.vectorTabs li,
.vectorTabs span {
  background: transparent;
  padding: 0;
}
.vectorTabs .selected {
  background: #fff;
  border-left: 1px solid #a7d7f9;
  border-right: 1px solid #a7d7f9;
}
#right-navigation {
  margin: 0;
}

/* left */
#mw-panel {
  width: 20%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

/* --- main --- */
.mw-body {
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  margin: 0;
  margin-left: 20%;
  flex: 0 1 55%;
  border: 1px solid #a7d7f9;
  border-top: 0;
}

#mw-data-after-content {
  margin: 0;
}